<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>./Presentation/GUI/HomePage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Autenticazione</servlet-name>
        <servlet-class>Presentation.GestioneAccount.Autenticazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutDalSistema</servlet-name>
        <servlet-class>Presentation.GestioneAccount.LogoutDalSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaPersonale</servlet-name>
        <servlet-class>Presentation.GestioneAccount.PaginaPersonale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaDiscussione</servlet-name>
        <servlet-class>Presentation.GestioneDiscussioni.VisualizzaDiscussione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaricamentoDiscussioni</servlet-name>
        <servlet-class>Presentation.GestioneDiscussioni.CaricamentoDiscussioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubblicazioneCommento</servlet-name>
        <servlet-class>Presentation.GestioneDiscussioni.PubblicazioneCommento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaRichiesta</servlet-name>
        <servlet-class>Presentation.ControlloContenuti.VisualizzaRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaricamentoRichieste</servlet-name>
        <servlet-class>Presentation.ControlloContenuti.CaricamentoRichieste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaDiscussione</servlet-name>
        <servlet-class>Presentation.ControlloContenuti.CreaDiscussione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/HomePage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Autenticazione.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/GestioneAccount/Autenticazione.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaPersonale.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/GestioneAccount/PaginaPersonale.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaDiscussione.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/GestioneDiscussioni/VisualizzaDiscussione.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreaDiscussione.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/ControlloContenuti/CreaDiscussione.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Header.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/Header.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaRichiesta.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/ControlloContenuti/VisualizzaRichiesta.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginError.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/GestioneAccount/LoginError.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RifiutaRichiesta</servlet-name>
        <servlet-class>Presentation.ControlloContenuti.RifiutaRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccettaRichiesta</servlet-name>
        <servlet-class>Presentation.ControlloContenuti.AccettaRichiesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs.jsp</servlet-name>
        <jsp-file>/Presentation/GUI/AboutUs.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticazione</servlet-name>
        <url-pattern>/Autenticazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutDalSistema</servlet-name>
        <url-pattern>/LogoutDalSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPersonale</servlet-name>
        <url-pattern>/PaginaPersonale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaDiscussione</servlet-name>
        <url-pattern>/VisualizzaDiscussione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricamentoDiscussioni</servlet-name>
        <url-pattern>/CaricamentoDiscussioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubblicazioneCommento</servlet-name>
        <url-pattern>/PubblicazioneCommento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaRichiesta</servlet-name>
        <url-pattern>/VisualizzaRichiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaricamentoRichieste</servlet-name>
        <url-pattern>/CaricamentoRichieste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaDiscussione</servlet-name>
        <url-pattern>/CreaDiscussione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage.jsp</servlet-name>
        <url-pattern>/HomePage.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticazione.jsp</servlet-name>
        <url-pattern>/Autenticazione.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPersonale.jsp</servlet-name>
        <url-pattern>/PaginaPersonale.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaDiscussione.jsp</servlet-name>
        <url-pattern>/CreaDiscussione.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header.jsp</servlet-name>
        <url-pattern>/Header.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaDiscussione.jsp</servlet-name>
        <url-pattern>/VisualizzaDiscussione.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaRichiesta.jsp</servlet-name>
        <url-pattern>/VisualizzaRichiesta.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginError.jsp</servlet-name>
        <url-pattern>/LoginError.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RifiutaRichiesta</servlet-name>
        <url-pattern>/RifiutaRichiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccettaRichiesta</servlet-name>
        <url-pattern>/AccettaRichiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs.jsp</servlet-name>
        <url-pattern>/AboutUs.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
